body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://st2.depositphotos.com/2390605/10313/v/450/depositphotos_103133368-stock-illustration-retro-music-seamless-pattern.jpg');
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.header-title {
    margin-left: 1px;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.courses,
.about,
.contact,
.carousel,
.employees {
    margin-bottom: 20px;
}

.course-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.course-item h3 {
    margin: 0;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 400px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.employee-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.employee-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .address,
footer .social-media {
    margin-bottom: 10px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

footer .social-media a:hover {
    text-decoration: underline;
}