body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://st2.depositphotos.com/2390605/10313/v/450/depositphotos_103133368-stock-illustration-retro-music-seamless-pattern.jpg');
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.header-title {
    margin-left: 1px;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.portfolio,
.contact {
    margin-bottom: 20px;
}

.portfolio-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-bottom: 5px;
}

.contact form input,
.contact form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.contact form button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #555;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .address,
footer .social-media {
    margin-bottom: 10px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

footer .social-media a:hover {
    text-decoration: underline;
}